html {
  background-color: #CCCCCC;
  color: #000000;
  font-family: sans-serif;
}

html a {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  margin: 0em 2em;
  font-size: 200%;
}

pre {
  background-color: #DDDDDD;
  padding: 0px 4px;
}

body {
  padding: 1em;
  margin: auto;
}

#masthead {
}

.post {
  line-height: 1.3em;
}

section {
  /*display: flex;
  flex-direction: row;*/
}

section:after {
  content: "";
  display: table;
  clear: both;
}

main {
  /* needs to actually be positioned relative to the nav menu */
  padding: 10px 0 0 10em;
  width: 70%;
}

.article-time {
  float: right;
}

.siteinfo {
  bottom: 4em;
  width: 10em;
  position: fixed;
}

.menu {
  /* needs to be in its own column, and not displayed for printing */
  margin-top: 4em;
  width: 10em;
  position: fixed;
}

ul.menu {
  display: block;
  list-style: none;
  margin: 0.5em auto;
  padding: 0;
  position: relative;
}

ul.menu a {
  color: #333333;
  line-height: 2em;
  font-weight: bold;
}

.article-nav hr {
  height: 2px;
  width: 80%;
  color: #004444;
  background-color: #005555;
  border-width: 0;
}

img#logo {
  display: block;
  margin: 0.5em auto 2em auto;
}

.column {
  float: left;
  padding: 0px 10px 0 0;
}

.left {
  padding-left: 10.5em;
}

.right {
  font-size: smaller;
  width: 20em;
}

@media print {
  .menu, .siteinfo {
    display: none;
  }
}

system.table tr,th {
  text-align: left;
  padding: 2px 10px 0 0;
  vertical-align: top;
}
