{{ define "main" }}

<h1>Systems</h1>

<main>
  <div class="pagelist">
    {{ range .Site.Data.systems }}
      {{ if .name }}
        {{ partial "systems/summary.html" . }}
      {{ end }}
    {{ end }}
  </div>
</main>

{{ end }}
