{{ define "main" }}

{{- $data := ( index $.Site.Data.systems .Name ) -}}

<h1>{{ .Name }}</h1>

<main>
{{ .Content }}

<h2>Details for {{ $data.fqdn }}</h2>

{{ partial "systems/single.html" $data }}

</main>

{{ end }}
