<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <section>
    {{- partial "nav.html" . -}}
    {{- partial "siteinfo.html" . -}}
    {{- block "main" . }}{{- end }}
    </section>
    {{- partial "footer.html" . -}}
  </body>
</html>
