{{ define "main" }}

<h1 class='article-title'>{{ .Page.Title }}</h1>

<main>
  <div class="post">
    <time datetime="{{ .Page.PublishDate }}" class="article-time">{{ .Page.PublishDate.Format "2 January 2006" }}</time>
    {{ .Content }}
  </div>

  <div class="article-nav">
    <ul>
    {{- if .PrevInSection }}
      <li>Previous: <a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a></li>
    {{- end }}
    {{- if .NextInSection }}
      <li>Next: <a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a></li>
    {{- end }}
    </ul>
  </div>
</main>

{{ end }}
