<table class='system'>

{{ with .hardware }}
<tr>
  <th>Hardware</th>
  <td>{{ .vendor }}
    {{ if .model }}{{ .model }}{{ end }}
    {{ if .serial }}(SN {{ .serial }}){{ end }}
  </td>
</tr>
{{ end }}

{{ with .OS }}
<tr>
  <th>Operating system</th>
  <td>{{ .distro }} {{ .version }}</td>
</tr>
{{ end }}

{{ if .storage }}
<tr>
  <th>Storage</th>
  <td>{{ range $key, $element := .storage }}
    {{ $key }}: {{ .capacity }} {{ if .description }}- {{ .description }}</br>
  {{ end }}
  {{ end }}</td>
</tr>
{{ end }}

{{ with .processors }}
<tr>
  <th>Processors</th>
  <td>{{ .cores }} x {{ .vendor }} {{ .model }}</td>
</tr>
{{ end }}

{{ with .memory }}
<tr>
  <th>Memory</th>
  <td>{{ .capacity }}</td>
</tr>
{{ end }}

{{ if .network }}
<tr>
  <th>Network</th>
  {{ range $key, $element := .network }}
  <td>{{ $key }}: {{ .link }} ({{ .mac }})</td>
  {{ end }}
</tr>
{{ end }}

</table>

{{ with .notes }}
<h3>Notes</h3>
<ul>
  {{ range . }}
  <li>{{ . }}</li>
  {{ end }}
</ul>
{{ end }}
