<dt>
  {{ $path := (printf "systems/%s.md" .name) }}
  {{ if fileExists $path }}<a href="{{ ( .name | urlize ) }}">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}
  {{ with .description }} - {{ . }}{{ end }}
</dt>
  <dd>{{ .hardware.vendor }} {{ .hardware.model }}</dd>
  {{ with .processors.cores }}<dd>{{ . }} cores</dd>{{ end }}
  {{ with .memory.capacity }}<dd>{{ . }} RAM</dd>{{ end }}
