<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{- if eq .RelPermalink "/" }}
    <meta name="description" content="{{ .Site.Params.Description }}">
  {{- else if .Description }}
    <meta name="description" content="{{ .Description }}">
  {{- end }}

  <title>
    {{- if eq .RelPermalink "/" }}
      {{ .Site.Title }}
    {{- else }}
      {{ .Title }} &middot; {{ .Site.Title }}
    {{- end }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

  <!-- Favicon -->
  <link rel="icon" sizes="16x16" href="{{ "images/favicon.ico" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}">

  <!-- RSS -->
  <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
