{{ define "main" }}

<div id='masthead'>
<h1>{{ .Name }}</h1>
</div>
  {{ partial "index/introduction.html" }}
  <div>
    {{ if where .Pages "Type" "documents" }}

      <!-- this should be limited with "More..." at the bottom -->
      <div class='column left'>
        <h2>Documents</h2>
        <div class="pagelist">
          {{ range (where site.RegularPages "Type" "documents") }}
            {{ .Render "summary" }}
          {{ end }}
        </div>
      </div>

    {{ end }}

    {{ if where .Pages "Type" "notes" }}

      <!-- this should be limited with "More..." at the bottom -->
      <div class='column right'>
        <h2>Notes</h2>
        <div class="pagelist">
          {{ range (where site.RegularPages "Type" "notes") }}
            {{ .Render "summary" }}
          {{ end }}
        </div>
      </div>

    {{ end }}
  </div>

{{ end }}
